{
    "repo-manager-uri": "http://localhost:8080",
    "repo-manager-token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJidWlsZCIsInNjb3BlIjpbImJ1aWxkIiwidXBsb2FkIiwicHVibGlzaCJdLCJuYW1lIjoidGVzdCIsImV4cCI6MTU3MjA5NTA3OX0.hP1vn8zrpqkyCblzXUl4HARfLDXRyxwwM6RBmxG1Fi0",
    "buildbot-port": 8010,
    "buildbot-uri": "http://localhost:8010/",
    "flathub-repo": "https://flathub.org/repo/",
    "flathub-sources-path": "/vcs/gnome/flathub/repo/sources",
    "flathub-branch": "stable",
    "github-api-token": "",
    "admin-password": "test",
    "keep-test-build-days": 5,
    "publish-default-delay-hours": 24,
    "github-change-secret": ""
}
